<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>JS Classroom | Classrooms</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
</head>

<body>
    <div>
        <h1>Classrooms</h1>
    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Classrooms</li>
      </ol>
    </nav>

    <div class="container" id="center">

        <div id="alert-registration" class="alert alert-success hide">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> New classroom was saved!
        </div>

        <form>
            <div class="form-group">
                <input type="number" id="fd_id" class="form-control" required="required" placeholder="Identification number">
            </div>

            <div class="form-group">
                <input type="text" id="fd_name" class="form-control" required="required" placeholder="Classroom name">
            </div>

            <div class="form-group" id="fd_class">
                <select class="form-control">
                    <option>Artes</option>
                    <option>Biologia</option>
                    <option>Educação Física</option>
                    <option>Filosofia</option>
                    <option>Física</option>
                    <option>Geografia</option>
                    <option>Geometria</option>
                    <option>História</option>
                    <option>Literatura</option>
                    <option>Química</option>
                    <option>Sociologia</option>
                </select>
            </div>

            <div class="form-group">
                <div class="btn btn-success">
                    <input type="submit" value="Save" id="btnAdd" class="btn btn-success" />
                </div>
                <div class="btn btn-danger">
                    <input type="reset" value="Clear" class="btn btn-danger" />
                </div>
            </div>
        </form>

        <p>

        <!-- Table -->
        <table id="table-classrooms" class="table"></table>

    </div>

    <!-- Loads JQuery -->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <!-- Loads my personal scripts. -->
    <script src="services/classroomService.js"></script>
    <script src="controllers/classrooms/classroomsController.js"></script>
    <script src="controllers/classrooms/classroomsTableController.js"></script>

</body>
</html>
