<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>JS Classroom | Home</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
</head>

<body>
    <div>
        <h1>JS Classroom<small><br/>Instituto Nacional de Telecomunicações - Inatel</small></h1>
    </div>
    <br/>
    <div class="container" id="center">
      <a class="btn btn-primary btn-lg btn-block" href="students">Add Student</a>
      <br/>
      <a class="btn btn-primary btn-lg btn-block" href="classrooms">Add Classroom</a>
    </div>

</body>
</html>
